<div *ngIf = "images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i = index;"
    [src]="image?.imgSrc" [alt]="image?.imgAlt" [ngClass]="{'image-active':selectedIndex===i}"
    class="custom-fade">


<div *ngIf = "indicators" class="carousel-dot-container">
    <span *ngFor="let dot of images; let i = index;"
     class="dot"
     [ngClass]="{'active':selectedIndex===i}"
     (click)="selectImage(i)"
     >
    </span>
</div>

<button *ngIf="controls" class="btn-carousel btn-prev"
(click)="onPrevClick()">
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
</button>

<button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
</button>
</div>

<section class="ftco-search">
    <div class="container">
    
    </div>
</section>


<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
          <div class="media-body p-2 mt-2">
            <h3 class="heading mb-3">Find Places Anywhere In The World</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex align-self-stretch ">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
          <div class="media-body p-2 mt-2">
            <h3 class="heading mb-3">We Have Agents With Experience</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>    
      </div>
      <div class="col-md-3 d-flex align-sel Searchf-stretch ">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
          <div class="media-body p-2 mt-2">
            <h3 class="heading mb-3">Buy &amp; Rent Modern Properties</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
          <div class="media-body p-2 mt-2">
            <h3 class="heading mb-3">Making Money</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Royalestate</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Buy</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home For Sale</a></li>
              <li><a href="#" class="py-2 d-block">Open Houses</a></li>
              <li><a href="#" class="py-2 d-block">New Listing</a></li>
              <li><a href="#" class="py-2 d-block">Recently Reduce</a></li>
              <li><a href="#" class="py-2 d-block">Off-Market Homes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Sell</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Sell Your Home</a></li>
              <li><a href="#" class="py-2 d-block">Get A Home Valuation</a></li>
              <li><a href="#" class="py-2 d-block">Local Home Prices</a></li>
              <li><a href="#" class="py-2 d-block">Guides &amp; Rules</a></li>
              <li><a href="#" class="py-2 d-block">Others</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md">
            <div class="ftco-footer-widget mb-4">
             <h2 class="ftco-heading-2">Sell</h2>
             <ul class="list-unstyled">
               <li><a href="#" class="py-2 d-block">Sell Your Home</a></li>
               <li><a href="#" class="py-2 d-block">Get A Home Valuation</a></li>
               <li><a href="#" class="py-2 d-block">Local Home Prices</a></li>
               <li><a href="#" class="py-2 d-block">Guides &amp; Rules</a></li>
               <li><a href="#" class="py-2 d-block">Others</a></li>
             </ul>
           </div>
         </div> -->
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
             <h2 class="ftco-heading-2 mb-4">Have a Questions?</h2>
              <p class="ftco-footer-widget mb-4">Contact Us</p>
              <div class="block-23 mb-3">
                
                  <p><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></p>
                  <p><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></p>
                  <p><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></p>
                
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved

 <!-- | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

</p>
        </div>
      </div>
    </div>
  </footer>
