<section id="services" class="container">
  <h2 class="display-4 text-center mt-5 mb-3">Login As</h2>

  <div class="row text-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="./assets/customer-login.png"
          alt="Design"
        />
        <div class="card-body">
          <h4 class="card-title">Manager</h4>
          <p class="card-text"></p>
        </div>
        <div class="card-footer py-4">
          <button class="btn btn-primary" [routerLink]="['/manager/login']">
            Login &raquo;
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="./assets/customer-login.png"
          alt="Development"
        />
        <div class="card-body">
          <h4 class="card-title">Executive</h4>
          <p class="card-text"></p>
        </div>
        <div class="card-footer py-4">
          <button class="btn btn-primary" [routerLink]="['/executive/login']">
            Login &raquo;
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="./assets/customer-login.png"
          alt="Analytics"
        />
        <div class="card-body">
          <h4 class="card-title">Customer</h4>
          <p class="card-text"></p>
        </div>
        <div class="card-footer py-4">
          <button class="btn btn-primary" [routerLink]="['/customer/login']">
            Login &raquo;
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
